.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20vh;
  gap: 15px;
}

.app a {
  display: grid;
  place-items: canter;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(225 225 225 / 9%);
}

.app a:nth-child(odd) {
  background-color: rgba(225 225 225 / 6%);
}
